.slider-container{
    
}

.slider-picture{
    position: relative;
}

.slider-picture img {
    width: 100%;
}
.arrow {
    padding-top: 300px; 
    font-size: 30px;
    cursor: pointer;
}



.slider-points{
    position: absolute;
    bottom: 45px;
    width: 100%;
    text-align: center;
}

.fa-circle{
    color: rgb(255, 255, 255);
    margin-left: 5px;
    cursor: pointer;
}

.left-side{
    text-align: end;
}